.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #272727;
  justify-content: center;
  align-items: center;
}
.SSContainer {
  width: 75%;
  height: 80%;
  // background-color: blue;
  display: flex;
  flex-direction: column;
}
.yourMapsContainerHeader {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.SSMainContent {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #c2c2c3;

  overflow-y: scroll;
  scrollbar-width: thin;

  width: 100%;
  height: 100%;
  flex-direction: column;
}

.SS-header-section {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 12px;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.SS-header-section:hover {
  transition: 0.1s ease-in-out;
  cursor: pointer;
  background-color: silver;
}

.SS-header-button {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 12px;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;
  color: white;

  padding: 0;
}
// .SS-header-button:hover {
//   transition: 0.1s ease-in-out;
//   cursor: pointer;
//   background-color: silver;
// }
.SS-header-button-disabled {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 12px;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;

  cursor: default;
  transition: 0.1s ease-in-out;
  color: var(--warm-black);
}

.SStable-header0 {
}

.SStable-header {
  background-color: #c72e34;
}

.SStableText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  padding-bottom: 12px;
  padding-top: 12px;
  cursor: pointer;
  text-align: center;
  border-right: black;
  border-width: 2px;
}

.SStableText:hover {
  transition: 0.1s ease-in-out;
  cursor: pointer;
  background-color: silver;
}

.SSNameColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.SStable_entry {
  border-bottom: 1px solid;
  color: black;
  transition: 0.1s ease-in-out;
  height: 46px;
}
